@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Føniks' Udlånsside</h1>
    <p class="lead">Lån bøger, brætspil og udstyr på den nemme måde</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bøger</h2>
        <p>
            Her Kan du låne rollespilsbøger og skønlitterære bøger.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Lån Bøger &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Brætspil</h2>
        <p>Lån forskellige brætspil med hjem.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Lån Brætspil &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Udstyr</h2>
        <p>Skal du til et live-rollespil, og skal bruge udstyr, kan du kvit og frit låne det her.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Lån Udstyr &raquo;</a></p>
    </div>
</div>